{% load static %}
<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <title>{% translate "Articles" %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    <div class="container">
        <nav class="navbar">
            <div class="navbar-brand">Multilang-site</div>
            <div class="language-selector">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <select name="language" onchange="this.form.submit()">
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>{{ language.name_local }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="next" value="{{ request.path }}">
                </form>
            </div>
        </nav>
        <header class="header">
            <h1>{% translate "Articles" %}</h1>
        </header>
        <main class="articles-list">
            <ul>
                {% for article in myarticles %}
                    <li class="article-item">
                        <div class="article-content hidden">
                            <h2 class="article-title">{{ article.title }}</h2>
                            <p class="article-text">{{ article.content }}</p>
                            <p class="article-date"><strong>{% translate "Date de publication" %} :</strong> {{ article.publication_date }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </main>
    </div>
</body>
</html>